@model Users

@* <form method="post" asp-action="Register">
     <div asp-validation-summary="ModelOnly"></div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" type="password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" type="text">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" type="text">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <hr>
    <input type="submit" value="Register" class="btn btn-info">
</form> *@


<!-- singUp-area -->
        <section class="singUp-area section-py-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="singUp-wrap">
                            <h2 class="title">Create Your Account</h2>
                            <p>Hey there! Ready to join the party? We just need a few details from you to get <br> started. Let's do this!</p>
                           
                            <form method="post" asp-action="Register" class="account__form">
                                @* <div asp-validation-summary="ModelOnly"></div> *@
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                <div class="form-grp">
                                    <label asp-for="Email">Email</label>
                                    <input type="email" id="email" placeholder="email" asp-for="Email">
                                </div>
                                <div class="form-grp">
                                    <label asp-for="Password" >Password</label>
                                    <input asp-for="Password" type="password" placeholder="password">
                                </div>
                                <div class="form-grp">
                                    <label for="ConfirmPassword" >Nhập lại mật khẩu</label>
                                    <input name="ConfirmPassword" id="ConfirmPassword" type="password" placeholder="Nhập lại mật khẩu">
                                </div>
                                <div class="form-grp">
                                    <label asp-for="Name"></label>
                                    <input  asp-for="Name" placeholder="Full Name">
                                </div>
                                <div class="form-grp">
                                    <label asp-for="Phone"></label>
                                    <input  asp-for="Phone" placeholder="Phone Number">
                                </div>
                                <button type="submit" class="btn btn-two arrow-btn">Sign Up<img src="~/assets/img/icons/right_arrow.svg" alt="img" class="injectable"></button>
                            </form>
                            <div class="account__switch">
                                <p>Already have an account?<a asp-action="Login">Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- singUp-area-end -->

 @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }