@model Lesson
@{
    var courseId=ViewBag.courseId;
    int id=(int)courseId;
}
<form method="post" asp-action="Create" asp-route-courseId="@courseId">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for ="LessonName" class="control-label" ></label>
        <input type="text" asp-for="LessonName" class="form-control">
        <span asp-validation-for="LessonName" class="text-danger"></span>
    </div>
    <br>

    <div class="form-group">
        <label asp-for ="Description" class="control-label" ></label>
        <input type="text" asp-for="Description" class="form-control">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <hr>
    <div class="form-group">
        <label asp-for ="FileLinkContent" class="control-label" ></label>
        <input type="text" asp-for="FileLinkContent" class="form-control">
        <span asp-validation-for="FileLinkContent" class="text-danger"></span>
    </div>
    
    <hr>
    
    <input type="submit" class="btn btn-success">
</form>