@model Lesson
@{
    var chapterId=ViewBag.chapterId;
    
}
<style>
    .btn-submit{
        padding: 2px;
        border-radius: 7px;
        color: white;
        margin: 15px 0;
    }
</style>
<div class="container" style="width: 60%;">
    <form method="post" asp-action="Create" asp-route-chapterId="@chapterId" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for ="LessonName" class="control-label" ></label>
            <input type="text" asp-for="LessonName" class="form-control">
            <span asp-validation-for="LessonName" class="text-danger"></span>
        </div>
        <br>
    
        <div class="form-group">
            <label asp-for ="Description" class="control-label" ></label>
            <input type="text" asp-for="Description" class="form-control"> 
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    
        <hr>
    
    
        <div class="form-group">
            <label asp-for ="FormFile" class="control-label" >Lecture files</label>
            <input type="file" asp-for="FormFile" class="form-control">
            <span asp-validation-for="FormFile" class="text-danger"></span>
        </div> 
        <div class="form-group">
            <label asp-for ="DocumentFile" class="control-label" >Document file</label>
            <input type="file" asp-for="DocumentFile" class="form-control">
            <span asp-validation-for="DocumentFile" class="text-danger"></span>
        </div>
        <hr>
        <div class="form-group">
            <label asp-for ="IsFree" class="control-label" >Lesson type</label>
            <select asp-for="IsFree" class="form-control" id="statusSelect">
                <option value="1">Not free</option>
                <option value="0">Free</option>
                
            </select>
            <span asp-validation-for="IsFree" class="text-danger"></span>
        </div>
        <input type="submit" class="btn-info btn-submit" value="Create">
    </form>
</div>

