@{
    Layout="_NoLayout";
}
@model Lesson
    <div style="text-align: center;">
    <video controls width="800px" height="700px" style="display: inline-block;"> 
        <source src="~/@Model.FileLinkContent">
    </video>
</div>



