.card .btn{
    color: #000000;
}

.card .link{
    color: #000000;
}

.card .link:hover{
    color: red;
}

.btn{
    padding-right: 100% !important;
}
img{
    max-width:15px !important;
    max-height:15px !important;
    object-fit: contain !important;

}

.Adminfix{
   background-color: rgb(238, 238, 238);
}

.FixLink{
    font-size: .8rem;
    color: rgb(255, 0, 0) !important;
}