@{
    var message= TempData["Message"] as string;
}
<style>
._success {
    box-shadow: 0 15px 25px #00000019;
    padding: 45px;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
}

._success i {
    font-size: 55px;
    color: #28a745;
}

._success h2 {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 10px;
}

._success p {
    margin-bottom: 0px;
    font-size: 18px;
    color: #495057;
    font-weight: 500;
}
.btn-custom{
    width: 20%;
    margin: 0 auto;
    display: block;
    text-align: center;
    background-color: #28a745;
    color:white;
    font-weight: 500;
    cursor: pointer;
    padding:3px;
    border-radius: 999px;
}
.btn-custom:hover{
    opacity: 0.8;
    color:white;
}
</style>

<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="message-box _success">
                     <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h2> Your payment was successful </h2>
                    @if(string.IsNullOrEmpty(message))
                    {
                        <p> Thank you for your payment. we have activated your course. </p>      
                    }
                   
                   else{
                        <p>@message</p>
                   }
                   
            </div> 
        </div> 
</div> 
<div class="container">
    <a asp-action="index" class="btn-custom">Go to home page</a>
</div>