@model List<Blog> 
@{
    int stt=1;
}
@{
    Layout="_LayoutAdmin";
}
<style>
    .blog-manage-detail{
        @* width: 70%; *@
    }
    .action{
        padding: 5px;
        cursor: pointer;
    }
    @* BLOG MANAGE *@
    .head-content{
        display: flex;
        justify-content: space-between;
    }
    .input-search{
        border-radius: 999px;
        border: 0.5px solid black;
        padding: 4px;
        margin-left: 20px;
    }
    .btn-search{
        border: none;
        background-color: #5751e1;
        color: white;
        border-radius: 50%;
    }
    @*  *@
    .btn-add{
        background-color: #3eb93c;
    }
    .btn-custom{
        @* display: inline-block; *@
        padding:5px;
        border-radius: 9px;
        cursor: pointer;
        color:rgb(252, 252, 252);
    }
    .btn-custom:hover{
        color:rgb(252, 252, 252);
    }
    .manage-blog{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .manage-blog{
        padding: 20px 0;
        background-color: rgb(255, 255, 255);
        position: sticky;
        top:100px;
    }
    thead{
        position: sticky;
        top:165px;
    }

</style>
<div class="container blog-manage-detail">
    <div class="manage-blog">
        <a asp-action="create" class="btn-custom btn-add"> <i class="fa-solid fa-plus"></i> Create a new blog</a>
        <form asp-action="SearchBlog" class="form-search">
            <input type="text" name="blogName" class="input-search" placeholder="Search For Blog">
            <button type="submit" class=btn-search><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a class="btn-custom btn-info" style="background-color: #576ed3;" asp-action="index" asp-controller="Post">Manage posts</a>
    </div>
    <table class="table table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>NO</th>
                <th>Blog name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@stt</td>
                    <td>@item.BlogName</td>
                    <td>
                        <a class="action" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-wrench"></i></a>
                        <a class="action" data-bs-toggle="modal" data-bs-target="#myModal">
                                <i class="fa-solid fa-trash"></i>
                                </a>
    
                                <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
    
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Confirm</h4>
                                        <button type="button" class="btn-close " data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this blog post?
                                    </div>
    
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <a type="button" class="btn btn-danger btn-custom btn-danger" asp-action="delete" asp-route-id="@item.Id" >Delete</a>
                                    </div>
    
                                    </div>
                                </div>
                                </div>
                        
                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>
</div>